.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 150px;
  background-image: url("../../img/Nav.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 22%;
}

.nav-item {
  font-family: 'Lato', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: #0B1422;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-align: center;
}

.nav-link:hover, .nav-link:active, .nav-link:focus, .nav-link.active {
  color: #6B7245;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2.5px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.fas.fa-shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 2%;
  top: 15%;
  padding: 20px;
  color: #0B1422;
}

.fas.fa-shopping-cart:hover, .fas.fa-shopping-cart:active, .fas.fa-shopping-cart:focus, .fas.fa-shopping-cart.active {
  color: #6B7245;
}

.fas.fa-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25%;
  color: #0B1422;
  z-index: 1;
}

@media screen and (max-width: 990px) {
  .navbar-nav {
    text-align: center;
    background-color: #fff;
    width: 100vw;
    padding-bottom: 10px;
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../../img/BlackEstate_homeimg.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-logo {
  background-image: url("../../img/BlackEstateLogo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50vw;
  height: 50vh;
}

@media only screen and (max-width: 990px) {
  .hero-logo {
    background-image: url("../../img/BlackEstateLogo.png");
  }
}

.bodycopy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap;
}

.bodycopy .c2, .bodycopy .c3 {
  min-height: 600px;
}

.bodycopy .c4, .bodycopy .c5 {
  min-height: 500px;
}

.bodycopy .c6, .bodycopy .c7 {
  min-height: 550px;
}

.blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 26px;
  color: #77574E;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #77574E;
}

.c1.gap, .c8.gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e5e6dda1;
  margin: 0;
  height: 150px;
  width: 100%;
}

.c2, .c5, .c6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
}

.c2 {
  padding-right: 100px;
  background-color: #ffffff;
}

.c5 {
  padding-left: 50px;
  padding-right: 100px;
}

.c6 {
  padding-left: 50px;
  padding-right: 120px;
  background-color: #ffffff;
}

.c3 {
  background-image: url("../../img/Img1.jpg");
  background-size: cover;
}

.c4 {
  background-image: url("../../img/Img2.jpg");
  background-size: cover;
}

.c7 {
  background-image: url("../../img/Img3.jpeg");
  background-size: cover;
}

.btn-outline {
  color: #6B7245;
  background-color: #ffffff;
  border-color: #6B7245;
  letter-spacing: 2.5px;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  background: #6B7245;
  color: #ffffff;
  border-color: #6B7245;
}

@media screen and (max-width: 770px) {
  .c2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .c3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .c4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .c5 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .c6 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .c7 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .c8 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}

.page-footer {
  color: #77574E;
  font-family: 'Lato', sans-serif;
  position: static;
}

.footer-row {
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col1 .footer-item {
  padding: 3px;
}

.col1 .footer-nav-link {
  font-size: 16px;
  color: #77574E;
  letter-spacing: 2.5px;
}

.col1 .footer-nav-link:hover,
.col1 .footer-nav-link:active,
.col1 .footer-nav-link:focus {
  font-weight: bold;
  letter-spacing: 2.5px;
  color: #77574E;
}

.col2 .visit-style {
  letter-spacing: 2.5px;
}

.col2 .visit-us {
  font-weight: bold;
}

.col2 .visit-us-content {
  padding-top: 5px;
  line-height: 30px;
}

.col3 .form-header {
  font-weight: bold;
  color: #6B7245;
  letter-spacing: 2.5px;
}

.col3 .form-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.col3 .footer-input {
  height: 25px;
  max-width: 225px;
  border-radius: 0;
}

.col3 .form-icon {
  background-color: #B95616;
  display: inline-block;
  padding-right: 10px;
  padding-left: 4px;
  padding-top: 5px;
  justify-self: baseline;
  border: #B95616;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.col3 .fa-paper-plane {
  color: #ffffff;
}

.col4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.col4 .fab {
  color: #6B7245;
  padding-right: 10px;
  padding-bottom: 10px;
}

.col4 .logofooter {
  background: url("../../img/BlackEstateLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.col4 .footer-link-contain {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col4 a.footer-link {
  font-size: 10px;
  padding-bottom: 5px;
  color: #77574E;
}

.col4 a.footer-link:hover, .col4 a.footer-link:active, .col4 a.footer-link:focus {
  font-weight: bold;
  color: #77574E;
}

.col4 .copyright {
  font-size: 10px;
  font-style: italic;
}

.hero
.fade-in {
  -webkit-animation: fadeIn ease 5s;
          animation: fadeIn ease 5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-left {
  -webkit-animation: fadeInLeft ease 7s;
          animation: fadeInLeft ease 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */