.bodycopy {
    padding: 0;
    display: inline-flex;
    flex-flow: row wrap;
    vertical-align: top;
}

// Typography style

.blockquote {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    color: #77574E;
}

.story {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #77574E;
}

//  Gap
.gap {
    display: flex;
    background-color: #e5e6dd;
    margin: 0;
    height: 150px;
    width: 100%;
}

//  Rows

.row1 {
    height: 950px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
} 

.row2 {
    height: 700px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #e5e6dd;
}

.row3 {
    height: 900px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

// Content

.content-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;
    background-color: #ffffff;
    height: 800px;
}

.content-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    padding-left: 50px;
    padding-right: 100px;
}

.content-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 120px;
    background-color: #ffffff;
    height: 750px;
}

// Images

.image-1 {
    background-image: url('../../img/Img1.jpg');
    background-size: cover;
    height: 800px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image-2 {
    background-image: url('../../img/Img2.jpg');
    background-size: cover;
    height: 700px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image-3 {
    background-image: url('../../img/Img3.jpeg');
    background-size: cover;
    height: 750px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}