.page-footer {
    color: #77574E;
    font-family: 'Lato', sans-serif;
    position: static;
}

.footer-row {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}

// Footer Nav

.col1 {

    .footer-item {
        padding: 3px;
    }

    .footer-nav-link {
        font-size: 16px;
        color: #77574E;
        letter-spacing: 2.5px;
    }

    .footer-nav-link:hover,
    .footer-nav-link:active,
    .footer-nav-link:focus {
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #77574E;
    }
}

// Visit Us

.col2 {

    .visit-style {
        letter-spacing: 2.5px;
    }

    .visit-us {
        font-weight: bold;
    }

    .visit-us-content {
        padding-top: 5px;
        line-height: 30px;
    }
}

// Form

.col3 {

    .form-header {
        font-weight: bold;
        color: #6B7245;
        letter-spacing: 2.5px;
    }

    .form-content {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .footer-input {
        height: 25px;
        max-width: 225px;
        border-radius: 0;
    }

    .form-icon {
        background-color: #B95616;
        display: inline-block;
        padding-right: 10px;
        padding-left: 4px;
        padding-top: 5px;
        justify-self: baseline;
        border: #B95616;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .fa-paper-plane {
        color: #ffffff;
    }
}

// Socail Media

.col4 {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding-left: 20px;

    .fab {
        color: #6B7245;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .logofooter {
        background: url('../../img/BlackEstateLogo.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .footer-link-contain {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    a.footer-link {
        font-size: 10px;
        padding-bottom: 5px;
        color: #77574E;

        &:hover,
        &:active,
        &:focus {
            font-weight: bold;
            color: #77574E;
        }
    }
    .copyright {
        font-size: 10px;
        font-style: italic;
    }
}  