.hero {
    //sizing
    width:100vw;
    height: 100vh;

    //backgound styles
    background-image: url('../../img/BlackEstate_homeimg.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    //flexbox
    display: flex;
    justify-content: center;
    align-items: center;
}