.hero {
    //sizing
    width:100vw;
    height: 100vh;

    //backgound styles
    background-image: url('../../img/BlackEstate_homeimg.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    //flexbox
    display: flex;
    justify-content: center;
    align-items: center;


    .hero-inner {
        display: flex;
    }

    .hero-logo {
        background-image: url('../../img/BlackEstateLogo.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50vw;
        height: 50vh;
    }
}

@media only screen and (max-width: 990px) {
    .hero-logo {
        background-image: url('../../img/BlackEstateLogo.png');
    }
}     