// Nav

.navbar {
    display: flex;
    max-width: 100%;
    height: 150px;
    background-image: url('../../img/Nav.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.navcontainer {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top:22%;
}

.nav-item {
    font-family: 'Lato', sans-serif;
    padding-left: 10px;
    padding-right: 10px; 
}

.nav-link {
    color: #0B1422;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 2.5px;
    text-align: center;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link.active {
    color: #6B7245;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2.5px;
    font-size: 17px;
    font-weight: bold;
    text-align: center; 
}

//Icon

.fas.fa-shopping-cart {
    display: flex;
    position: absolute;
    right: 2%;
    top: 15%;
    padding: 20px;
    color: #6B7245;
}

.fas.fa-bars {
    display: flex;
    position: absolute;
    top: 25%;
    color: #6B7245;
}